*{
margin: 0;
padding: 0;
box-sizing: border-box;
 }

 :root {
  --primary-color: #330033;
  --secondary-color: #800080;
  --accentcolor1: #ee8eee;
  --accentcolor2:#e63946;
  --background-color: #f2e6f2;
  --statement-font-family: "Lora",sans-serif;
  --paragraphy-font-family: "Raleway", sans-serif;
  --heading-font-family: "Roboto",sans-serif;
}

body{
    background-color: var(--primary-color);

  color: var(--primary-color);
  scroll-behavior: smooth;
  
 }
 
p{
    font-family: var(--paragraphy-font-family);
    /* text-align: center; */
    line-height: 1.4;
    letter-spacing: 0.04rem;
    color: #444;

}
 h1,h2,h4,h6,a{
    font-family: var(--heading-font-family);
   text-align: center;}

 section{

  opacity: 0;
   transform: translateY(50px);
   transition: all 0.8s ease-out;
  min-height: 10vh;
}
section.scroll{
  opacity: 1;
  transform: translateY(0);
   
} 

img{
    width: 100%;
}
li{
    list-style: none;
}

/**************************************************/
           /*   HOME HEADER NAVIGATION SECTION   */
/**************************************************/
 header{
  
    display:grid;
    grid-template-columns: 1fr ;
    position: relative;
    padding: 1rem 1rem 0 1rem;
    background-color:#faf0fa;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
   
    
  
}


#menu{
    width: 2rem;
    background:var(--accentcolor2);
    height: 0.2rem;
    position: absolute;
    top:3rem;
    right: 1.4rem;
    border-radius: 2px;
}
.header-lists{
   
  border-bottom: 1px solid rgba(255,255,255,0.6);
  border-radius: 10px;
   }
#menu::before,#menu::after{
    content: "";
     width: 2rem;
    background:var(--accentcolor2);
    height: 0.2rem;
    position: absolute;
    transition: all 0.4s;
    border-radius:2px ;
   
}

#menu::before{
    top: -0.4rem;
}
#menu::after{
    top: 0.4rem;
}
#menu.show{
    background-color: transparent;
    }

#menu.show::after{
    transform: rotate(45deg);
    top: 0;
    background-color:var(--primary-color);
    
}
#menu.show::before{
    transform: rotate(-45deg);
    top: 0;
    background-color:var(--primary-color);
    
}

.nav{
    
   display: none;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: .6rem auto;
}
.shebloom-logo{
    width: 6rem;
    
}

.header-lists:last-child{
    border-bottom:none ;
}

.nav-header-links:link,
.nav-header-links:visited{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:var(--primary-color);
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    font-weight: 900;
      
     

}
.nav-header-links:hover,
.nav-header-links:active{
    color: var(--primary-color);
    text-decoration: underline;
}
#navigation{
    display: flex;
}

.nav.show{
display: block;
   position: fixed;
   z-index: 1000;
   background-color: var(--background-color);
   width: 100%;
   height: 70%;
   margin-top: -2.98rem;
   
 
    
}
#navigation.show{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0 0 2rem;
}
.header-donate{
    background-color: var(--accentcolor2);
    max-width: 16rem;
    margin: 0 auto;
}
#donate-btn:link,
#donate-btn:visited{
    display: block;
    color: var(--background-color);
      padding: 1rem 1.8rem;
      margin: .4rem 0;
    
}

.shebloom-logo.show{
    display: none;
}
.para{
    font-weight: 500;
    text-align: left;
}
.nav-para.show{
    display: none;
}


/*  HERO SECTION */

.header-hero{
background:linear-gradient(rgba(34,34,34, 0.6), rgba(34,34,34, 0.6)),url(images/hero.webp);
background-position: center;
background-size: cover;
margin-top: 8rem;

}
.hero-box{
display: flex;
flex-direction: column;
padding: 1rem; 
align-items: center;
max-width: 20rem;
margin: 2rem auto;

}


.home-heading{
    color: var(--background-color);
   font-size: 1.8rem;
  padding-top:2rem ;
  text-transform: uppercase;

}

.donate-btn:link,
.donate-btn:visited{
    display: inline-block;
    background-color:var(--accentcolor2);
    padding: 1rem 1.8rem;
    color: #fff;
    text-decoration: none;
    margin: 1rem;
   cursor: pointer;
    transition: 0.3s all;
    font-family: var(--heading-font-family);
}
.volunteer-btn:link,
.volunteer-btn:visited{
    background-color: var(--accentcolor1);
    color: var(--primary-color);
}
.donate-btn:hover,
.donate-btn:active{
    background-color: #802605;
}



/**************************************************/
           /*   HOME MAIN SECTION   */
/**************************************************/
.statement-sect{
    padding: 1rem;
    
   
}
.statement-box{
    background-color: var(--accentcolor1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
     box-shadow: 4px 4px 30px rgba(0,0,0,0.1);
   
}

.statement-para{
     font-family:var(--statement-font-family);
     color: #333;
    line-height: 1.8;
}
.statement-said{
    display: flex;
    flex-direction: column;
    align-items: center;
  
   
}
.founder-name{
    font-family: var(--heading-font-family);
    
}
.shebloom-founder{
   font-size: 0.8rem;
   filter: contrast(0);

   
}
.reality-section{

 padding: 2.2rem;
}
.reality-box{
    background-color: var(--accentcolor1);
    display: grid;
    grid-template-columns: 1fr;
     gap: 1rem;
      box-shadow: 4px 4px 30px rgba(0,0,0,0.1);
      border-radius: 10px;
      overflow: hidden;
}
.reality-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem;
    gap: 1rem;
}
.reality-heading{
    font-size: 1.4rem;
   
}
.reality-link:link,
.reality-link:visited{
    display: inline-block;
    color: var(--accentcolor2);
    font-size: 1.1rem;
    text-decoration: none;
    border-bottom: 2px solid var(--accentcolor2);
    padding:0 1rem 0.2rem 1rem;
    
}
.impacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    
}
.impacts h4{
    background-color: var(--accentcolor1);
    width: 100%;
    padding: 1rem;
}
 .impacts p{
    color: var(--background-color);
}

.challenges-section{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem ;
   
   
}

.problems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--background-color);
}
.problems h2{
    text-align: left;
    font-size: 1rem;
    color: rgba(255, 68, 0, 0.886);
}
.icon{
    width: 1.2rem;
    cursor: pointer;
    
}
#problem-hide{
    display: none;
     box-shadow: 0 0 4px 4px rgba(161, 97, 173, 0.1);
    border-radius: 0 0 10px 10px;
   
   
   
  
}
#problem-hide.unhide{
    display: block;
}
.icon.rotate{
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.problem-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    
}
.problem-list li{
    list-style-type: circle;
    font-family: var(--paragraphy-font-family);
    font-size: 0.8rem;
}
/* How we bloom girls section */

.how-we-bloom-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.4rem;
    padding: 1rem;
}
.help-bloom{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.8rem;
    align-items: center;
    padding: 1rem;
}
.bloom-box{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
   box-shadow: 0 0 4px 4px rgba(161, 97, 173, 0.1);
}
.bloom-box h3 {
    font-family: var(--heading-font-family);
    color: var(--secondary-color);
    
}

.bloom-box-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding: 2rem 1rem;
}

.sheblooms{
    background:linear-gradient(to bottom,rgba(144, 10, 206, 0.1),rgba(21, 1, 36, 0.1)),url(images/flower.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    border-radius: 10px;
    
}
.sheblooms p{
    color: var(--background-color);
    font-weight: 500;
    background:rgba(255,255,255,0.09);
   backdrop-filter: blur(1px);
   -webkit-backdrop-filter: blur(1px);
   border-radius: 4px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border: 1px solid rgba(255,255,255,0.3);
   padding: 1rem;
   
}
i{
    padding: 1rem;
    display: block;
   
}
.donation-section{
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 1rem;
}
.home-donations{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.6rem;
}



.donate-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
    width: 100%;
    max-width: 31rem;
    margin: 1rem auto 2rem auto;
    padding: 1rem;
}
.donate-box-btn:link,
.donate-box-btn:visited{
    display: inline-block;
    margin: 0 auto;
}

.donate-box strong{
    color:var(--accentcolor2);
    font-family: var(--heading-font-family);
    font-size: 1.2rem;
}
.donate-box span{
    font-family: var(--paragraphy-font-family);
    color: var(--primary-color);
}

/**************************************************/
           /*   DIGNITY KIT PAGE  */
/**************************************************/
.kits-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.2rem;
    padding: 1rem;
}

.kits-section div{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.kits-section h3{
    font-family: var(--heading-font-family);
    color: var(--primary-color);
}
.kits-section li{
    font-family: var(--paragraphy-font-family);
}
 th, td{
    padding: 1rem;
}
th{
    font-family: var(--heading-font-family);
    font-weight: 700;
    color: var(--secondary-color);
}
td{
    font-family: var(--paragraphy-font-family);
}
/**************************************************/
           /*   ABOUT US PAGE   */
/**************************************************/

.discover-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    border-radius: 10px;
    max-width: 20rem;
    margin: -1rem auto;
    padding: 1rem;
    background-color: var(--accentcolor1);
    
}
.our-story-heading{
    color: var(--primary-color);
}

.our-story{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin:4rem 0 1rem 0;
    background-color: var(--accentcolor1);
    padding: 1rem;
    
    border-radius: 10px;
}

figure{
margin: 1rem;
}
.figcaption{
    color: var(--background-color);
    padding: .6rem;
}
figure img{
    width: 100%;
}

.mission-vision{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    

}

.mission-vision h3{
    font-family: var(--heading-font-family);
    color: var(--primary-color);
}

.mis-vis{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--accentcolor1);
    padding: 1rem;
    border-radius: 10px;
}
.values-box{
     background-color: #f5cdf5;
    margin: 2rem;
    border-radius: 10px;
    
}

.values-box h3{
   text-align: left; 
   margin-left: -2rem;
   border-radius: 10px 10px 0 10px;
   background-color: var(--accentcolor1);
   padding: 1rem;

   

}
.values{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
   padding: 2rem;
    
}
.value{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}
.value h4{
    color: #444;
}

.value-icon{
    color: var(--accentcolor2);
    font-size: 2rem;
    font-weight: bold;
}
.story{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--background-color);
    padding: 1rem;
   
}
.story img{
    border-radius: 10px;
}
 
.last-story{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   padding: 1rem;
   background: rgba(255,255,255,0.1);
    margin: 2rem 1rem 2rem 1rem;
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 4px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border: 1px solid rgba(255,255,255,0.3);

    
}
.last-story p{
    color: var(--background-color);
}
.about-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left:2rem ;
    font-family: var(--paragraphy-font-family);
}
.about-list li{
    list-style-type:circle;
}
.about-list strong{
    font-family: var(--heading-font-family);
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.volunteer-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    
}

.pray, .volunteer{
    background-color: var(--accentcolor1);
    box-shadow: 4px 4px 30px rgba(209, 150, 200, 0.1);
    border-radius: 10px;
}
.volunteer-info , .pray{
display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.volunteer h3{
    background:linear-gradient(to right, var(--accentcolor1), var(--primary-color));
    color: var(--background-color);
    width: 100%;
    padding: 0.6rem;
    margin-left: -1.6rem;
    border-radius: 0 0 10px 10px;
}
.volunteer-info, .pray{
    padding:1rem 0.6rem;
}
.volunteer span{
    font-family: var(--statement-font-family);
    color: #444;
    font-size: 1.2rem;
    
}


/**************************************************/
           /*  DONATE PAGE   */
/**************************************************/
.donate-main-section{
    margin: 2rem 1rem;
}
.donate-sec{
    display: flex;
    flex-direction:column;
    gap:1rem ;
    padding: 1rem;
}
.donating-ways{
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
    align-items: stretch;
    padding: 2rem;
    
}
.donate-sec strong{
    font-family: var(--heading-font-family);
}
.donate-list{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 1rem 0 0 2rem;
}
.donate-list li{
    list-style: circle;
    font-family: var(--paragraphy-font-family);
}
.transfers{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--accentcolor2);
    padding: 1rem;
    border-radius: 10px;
    background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}
.transfers ul{
    display: flex;
    flex-direction: column;
   gap: 1rem;
}
.transfers ul li{
    display: flex;
    gap: 1rem;
    
}
.transfers ul li span, .transfers h3{
    font-family: var(--heading-font-family);
}
.donate-heading{
    padding: 1rem;
    

}
.highlight{
    color: var(--accentcolor2);
    font-size: 2.6rem;
    font-style: italic;
}
.remitly-link:link,
.remitly-link:visited{
    display: inline-block;
    color: var(--accentcolor2);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    
}



/**************************************************/
           /*   GOAL SECTION   */
/**************************************************/
.goals-title,.join-title{
    margin: 2rem 1rem;
    text-align: left;
}
.goals{

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
}
.goal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
}
.goal img{
    width: 100%;
    max-width: 4rem;
    border-radius: 50%;
    background-color: var(--accentcolor2);
    padding: 0.8rem;
}
.goal h3{
    font-family: var(--heading-font-family);
    color: var(--secondary-color);
}
.join-para{
    text-align: left;
    padding: 1rem;
}
/**************************************************/
           /*   CONTACT US   */
/**************************************************/
.contact-section{
    background-color:var(--background-color);
    display: flex;
  flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    
    
} 
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    background-color:#f3daf3;
    padding: 1rem;
   background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 10px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(255,255,255,0.3);


    

}
.contact-lists{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.6rem;

}
.contact-list {
    display: flex;
    align-items: center;
    gap: 1rem;
   
}
.contact-list span{
    font-family: var(--heading-font-family);
}

.contact-link:link,
.contact-link:visited{
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
}
.phone-number{
    font-family: var(--heading-font-family);
}
.contact-us-form-heading{
    font-family: var(--heading-font-family);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}
.contact-icon{
  font-size: 2rem;
    color:#fff;
    font-weight: 900;
    border-radius: 50%;
    padding: 0.6rem;
    background-color: var(--accentcolor2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}
.contact-us-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    border-radius: 10px;
    width: 100%;
    padding: 2rem;
    max-width: 40rem;
 background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 10px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(255,255,255,0.3);
  
}
.contact-us-form input{
padding: 0.4rem;
border: none;
}
.contact-us-form label{
    font-family: var(--heading-font-family);
}
textarea{
    text-align: center;
    padding: 1rem;
    border: none;
}
.message-btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    border: none;
    margin: 1rem auto;
  
}
 .message{
    max-width: 500px;

    background-color: #f5cdf5;
    margin:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-left: 6px solid #330033;
    border-radius: 10px;
}

/**************************************************/
           /*   FOOTER   */
/**************************************************/
footer{
    padding: 2rem 1rem 1rem 1rem;
    background-color: var(--primary-color);
    border-top: 2px solid var(--accentcolor1);
    border-radius: 10px;
}
#tagline{
    color:var(--background-color);
    text-align: center;
}
.footer-form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 1rem 1rem 0;
   
}
footer h5{
    padding-top: 1.2rem;
    font-size: 1.2rem;
    color: var(--background-color);
    text-align: center;
    margin-bottom: 0.8rem;
    font-family: var(--heading-font-family);
    
}
.footer-form input{
   background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 4px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border: 1px solid rgba(255,255,255,0.3);
   outline: none;
    padding: 0.8rem;
    text-align: center;
    font-size: 0.6rem;
}
.join-btn{
    padding: 0.8rem;
    background-color: var(--accentcolor1);
    border: none;
    color:var(--primary-color);
    font-family: var(--paragraphy-font-family);
    cursor: pointer;
    border-radius: 4px;

}
.update-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
     padding: 0 1rem 1rem 0;



}
.follow-links{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
   

}
.follow-link:link,
.follow-link:visited,
.quick-link:link,
.quick-link:visited{
    text-decoration: none;
    color: var(--accentcolor1);
    font-size: 1.6rem;
}

.links-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   padding: 1rem 0;
   opacity: 0;
   background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 10px;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(255,255,255,0.3);
   margin-bottom: 0;


}
.quick-list{
    display: none;
}
.quick-links{
   display: flex;
   flex-direction: column;
  justify-content: center;
    align-items: center;
    
   
  
}
.links-box.unhide .quick-list{
    display: block;
}
.links-box.unhide{
    opacity: 1;
}
.quick-icon{
   width: 1.5rem;
  
 background:rgba(255,255,255,0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(6px);
   border-radius: 50%;
   box-shadow: 0 4px 30px rgba(0,0,0,0.1);
   border-bottom: 1px solid rgba(255,255,255,0.3);
 color: var(--background-color);
 margin-bottom: -1rem;
 z-index: 1000;


}
.quick-icon.rotate{
    transform: rotate(180deg);
    transition: transform 0.6s ease;
}

.footer-para{
    color: var(--background-color);
    padding-top: 1rem;
    text-align: center;
}



/**************************************************/
           /*   RESPONSIVE    */
/**************************************************/
@media(min-width:470px){
/* .tagline{
    background: none;
   font-size: 1rem;
    font-weight: 900;
    color: var(--primary-color);
    margin: 0 auto;
} */

}

@media(min-width: 700px){

    header{
        display: none;
    }.header-hero{
        margin-top: 0;
    }
  .header-hero{
    height: 60vh;
  }
    
    header{
        grid-template-columns: 1fr auto;
    }
 .nav{
    display: block;
    height: 8rem;
    grid-template-columns: 1fr 1fr auto;
 }
    #navigation{
    flex-direction: row;
    align-items: center;
    height: auto;
}
    #menu{
        display: none;
    }
 #navigation li, .nav-img {
        display: block;
    }
    .nav-btn:link,
    .nav-btn:visited{
        display: inline-block;
    background-color:var(--accentcolor2);
     padding: 0.6rem 1.4rem;
    color: #fff  !important;
    text-decoration: none;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;

    }
    
    .nav-img{
        width: 8rem;
        
    }
  
    #navigation li a:link,
    #navigation li a:visited{
        font-size: 1rem;
        font-weight: 800;
        color: var(--secondary-color);
        
    }
    /* HOME PAGE */
.reality-box{
grid-template-columns: 1fr 1fr;
padding: 2rem;
    
}
.message{
    margin: 2rem auto;
}
.reality-para{
    font-size: 0.8rem;
    border-left: 3px solid var(--accentcolor2);
    border-radius: 10px;
    padding: 0.8rem;
    
}
.help-bloom{
    
grid-template-columns: 1fr 1fr;
    
}
/* ABOUT PAGE */

 .our-story-section{
    display: flex;
    align-items: center;
    background-color: var(--accentcolor1);
    gap: 2rem;
    justify-content: space-between;

    
    
} 
figure{
    flex: 1;
}
figure img{
   max-width: 400px;
    height: auto;
}
.our-story{
    flex: 2;
}
.story{
    
     box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
    background-color: #f5cdf5;
    border-radius: 10px;
    overflow: hidden ;
    padding: 2rem;
    
}
.figcaption{
    color: #330033;
}

.header-lists{
    border: none;
}
.mission-vision{
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    max-width: 60rem;
    margin: 2rem auto;
    background-color: #f3daf3;
}
.values-box{
     
    margin: 0;
    border-radius: 10px;
    
}
.values{
    padding: 1rem ;
}

.values-box h3{
   text-align: left; 
   margin-left: 0;
   border-radius: 10px 10px 0 10px;
   background-color: var(--accentcolor1);
   padding: 1rem;

   

}
.last-story{
    background-color: #330033;
}
.volunteer-box{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 2rem;
    
}


.founders{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 50rem;
    margin: 2rem auto;
}
/* GOALS */
.goals{
    grid-template-columns: 1fr 1fr;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-form{
   max-width: 20rem;
}
.links-box{
    padding: 2rem;
}
.follow-us{
    margin: 1rem auto;
}

}


@media(min-width:900px)
{ /* HOME PAGE */
body{
    background-color: var(--background-color);
}
.tagline{
    display: block;
}

main{
    max-width: 60rem;
    margin: 1rem auto;
    
}
.reality-box{
grid-template-columns: 1fr 1fr;
padding: 2rem;
    
}
.reality-para{
    font-size: 1rem;
    border-left: 6px solid var(--accentcolor2);
    border-radius: 10px;
    padding: 4rem;
    border-right: 6px solid var(--accentcolor2);
}
.reality-img{
    border-radius: 10px;
}
.challenges-section{
    max-width: 50rem;
    margin: 1rem auto;
    
}
.problems{
    background-color: var(--secondary-color);
}
.problems h2{
    color: var(--background-color);
}
.icon{
    color:var(--background-color);
    width: 2rem;
}
.help-bloom{
    
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    
}
.home-donations{
    margin: 2rem auto;
    max-width: 50rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.donate-box{
    box-shadow: 8px 8px 20px rgba(240, 126, 233, 0.6);
}
.how-we-bloom-section{
    max-width: 60rem;
    margin: 2rem auto;
}
/* ABOUT PAGE */

 .our-story-section{
    grid-template-columns: 1fr 1fr 1fr ;
    max-width: 70rem;
    margin: 2rem auto;
} 

.last-story{
    grid-column: 1/-1;
    max-width: 100%;
} 
.mission-vision{
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    max-width: 60rem;
    margin: 2rem auto;
    background-color: #f3daf3;
}


.founders{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 50rem;
    margin: 2rem auto;
}
.donating-ways{
    max-width: 70rem;
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:stretch;
}
/* GOALS */
.goals{
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 70rem;
    margin: 2rem auto;
    gap: 4rem;
}
.goals-title{
    text-align: center;
}
.join-us{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    max-width: 40rem;
    margin: 2rem auto;
}


}


